  .note-textarea, .note-title {
    width: 100%;
    outline: none;
    border: none;
  }
  
  .note-textarea {
    resize: none;
    height: calc(100% - 100px);
    padding-top: 15px;
  }
  
  .note-title:read-only, .note-textarea:read-only {
    color: #757575;
  }
  
  .list-container .card {
    height: 65vh;
    border-bottom: none;
    border-left: none;
    /* border-bottom-right-radius: 0; */
    /* border-bottom-left-radius: 0; */
  }
  
  .list-container {
    /* padding-left: 0; */
  }
  
  .list-container .list-group,
  .list-container .list-group-item:first-child,
  .list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
  }
  