body {
    background-image: linear-gradient(to bottom, #000000, #382d3b, #506081, #409dc0, #40dede);
    min-width: 100%;
    min-height: 100%;
}

.OurCircle {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}
