body {
    background-image: linear-gradient(to left bottom, #dbf912, #a5fc5a, #70fb8a, #39f6b2, #00eed1, #00e2ea, #00d3fa, #00c2ff, #00a6ff, #0086ff, #005eff, #2016f9);
    min-width: 100%;
    min-height: 100%;
}

